body {
  font-family: 'Armata', sans-serif, 'Neucha';
}

p {
  padding-top: 15px;
  color: #fff;
}

/*=====FONTS======*/

h2 {
  font: 40px "Rye", cursive, 'Armata', sans-serif;
  text-align: center;
}

h3 {
  font: 70px 'Cabin Sketch', cursive, 'Armata', sans-serif;
  color: #090A53;
}

h3:hover {
  text-decoration: none;
}

h6 {
  font: 20px 'Cabin Sketch', cursive, 'Armata', sans-serif;
}

@font-face {
  font-family: londonfog;
  src: url(fonts/london.fog.ttf);
}

.shipping {
  background: #000;
  width: 100%;
  height: 40px !important;
  color: #337ab7;
  text-transform: uppercase;
  font-size: 15px;
}

/*====NAVIGATION BAR=====*/

.navbar {
  background: #090A53;
}

.navbar-brand {
  font: 80px "london.fog", 'Armata', sans-serif;
  color: #fff;
  padding-top: 40px;
}

.navbar-brand:hover {
  color: orange;
}

.quick-nav {
  font: 20px/1.5em 'Armata', sans-serif;
  color: #090A53l;
  padding-top: 20px;
 
}

.social {
  padding-top: 15px;
  float: right;
}

.logo {
  position: relative;
  left: 15em;
  bottom: 7em;
}

.item-result-count {
  font-family: 'Armata', sans-serif, 'Neucha';
  color: #090A53;
}

/*====BUTTONS====*/

span,
span.contact {
  font: 15px "Rye",'Armata', sans-serif;
  color: #fff;
  margin: 5px 5px;
}

span:hover,
span.contact:hover {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


i:hover {
  color: orange;
  text-decoration: none;
}

i.cart {
  color: #fff;
}

i.cart:hover {
  color: orange;
}

.items-ordering {
  padding-bottom: 2em;
}

/*====FOOTER====*/

footer {
  background: #090A53;
  height: 25%;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
}

.footer-logo {
  float: left;
}

.footer-area-container {
  background: #314A6E;
  height: 150px;
}

/*====ROWS====*/

.container,
.container-fluid {
  width: 100%;
  height: 9em;
}

.container-fluid {
  margin-left: 10em;
}

ul {
  list-style: none;
  width: 75%;
  padding-left: 0;
}

ul.pagination-sm {
  display: inline-block;
}

.col-1-3 {
  display: inline-block;
}

.col-sm-2 {
  padding-left: 3em;
}

.col-sm-3 {
  padding-top: 0;
}

.col-lg-6 {
  padding-top: 2em;
}

.col-lg-9 {
  padding: 20px;
}



.clearfix {
  display: inline-block;
}

/*========Media Query - Index==========*/

@media (max-width:1330px) {
  .navbar-brand {
    font-size: 70px;
  }
}

@media (max-width:1200px) {
  .navbar-brand {
    font-size: 60px;
  }

  .container-main {
    height: 110em;
  }
}

@media (max-width: 1000px) {
  .navbar-brand {
    font-size: 55px;
  }

  .container-main {
    height: 110em;
  }

  .btn {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .container {
    height: 150px;
  }

  .btn {
    width: 80%;
    float: left;
  }
}

@media (max-width: 375px) {
  .contianer {
    height: 10em;
  }

  .container-main {
    height: 83em;
  }

  .btn {
    width: 100%;
    float: left;
  }

  .navbar-brand {
    padding-top: 0;
    line-height: 45px;
    font-size: 42px;
  }
}
